@charset "UTF-8"; /*
  ./_mailformpro.css/default/01.mailformpro.css
  ./_mailformpro.css/default/02.base.css
  ./_mailformpro.css/default/03.label.css
  ./_mailformpro.css/default/04.confirm.css
  ./_mailformpro.css/default/05.confirm.flat.css
  ./_mailformpro.css/default/06.confirm.overlay.css
  ./_mailformpro.css/default/07.loading.css
  ./_mailformpro.css/default/08.stripe.css
  ./_mailformpro.css/default/09.error.css
  ./_mailformpro.css/default/10.warning.css
  ./_mailformpro.css/default/11.price.css
  ./_mailformpro.css/default/12.phase.css
  ./_mailformpro.css/default/13.cart.css
  ./_mailformpro.css/default/14.button.css
  ./_mailformpro.css/default/15.element.css
  ./_mailformpro.css/default/16.reserve.css
  ./_mailformpro.css/default/17.ok.css
  ./_mailformpro.css/default/18.prefadv.css
  ./_mailformpro.css/default/99.animated.css
  ./_mailformpro.css/max-width.800px/mobile.css
*/
body {
    overflow-x: hidden;
}

div#mfp_hidden {
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: 0px;
}

div#mfp_hidden input {
    margin: 10px;
}

div.mfp_thanks {
    padding: 30px;
}

div.mfp_thanks p {
    line-height: 1.7em;
}

div.mfp_thanks ul.mfp_caution {
    margin: 0px;
    padding: 0px;
}

div.mfp_thanks ul.mfp_caution li {
    display: block;
    color: #C00;
    margin: 0px;
    padding: 5px 0px;
}

div#mfp_thanks {
    text-align: center;
    font-size: 18px;
    padding: 20px 0px;
}

div#mfp_thanks strong {
    color: #C00;
    font-size: 24px;
}

form#mailformpro dl dd ul,form#mailformpro dl dd ol {
    margin: 0px;
    padding: 0px;
}

form#mailformpro dl dd ul li,form#mailformpro dl dd ol li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.must,.optionally {
    display: block;
    padding: 0px 8px;
    font-size: 0.8em;
    background: #e60012;
    color: #FFF;
    float: right;
    margin: 0 0 0 10px;
    border-radius: 4px;
    background: #d53b47;
}

.optionally {
    background: #999
}

form#mailformpro label {
    border-radius: 3px;
    margin: 0 10px 0 0;
    display: inline-block;
    /* white-space: nowrap; */
}

table#mfp_confirm_table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

table#mfp_confirm_table tr.mfp_colored {
    background-color: #F6F7F9;
}

table#mfp_confirm_table tr.mfp_achroma {
    background-color: #FFF;
}

table#mfp_confirm_table tr th,table#mfp_confirm_table tr td {
    text-align: left;
    border-top: solid 1px #CCC;
    padding: 15px 15px;
}

table#mfp_confirm_table tr:last-child th, table#mfp_confirm_table tr:last-child td {
    border-bottom: solid 1px #CCC
}

table#mfp_confirm_table tr th {
    /* white-space: nowrap; */
    width: 30%;
    border-right: solid 1px #DDD;
}

table#mfp_confirm_table tr td {
    line-height: 1.5em;
    word-break: break-all;
    width: 70%;
}

div#mfp_phase_confirm {
    clear: both;
}

div#mfp_phase_confirm h4 {
    font-size: 36px;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

div#mfp_overlay {
    position: absolute;
    display: none;
    z-index: 10001;
}

div#mfp_overlay_inner {
    background-color: #FFF;
    padding: 20px;
    margin: 0px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    width: 640px;
    max-width: 90%;
}

div#mfp_overlay_background {
    background-color: #000;
    position: absolute;
    display: none;
    z-index: 10000;
}

div#mfp_loading_screen {
    z-index: 20000;
    opacity: 0.8;
    display: none;
    background-color: #000;
    position: absolute;
}

div#mfp_loading {
    z-index: 20001;
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    background-image: url("_images/mfp_loading.gif");
}

.mfp_achroma {
    /* background-color: #FFF; */
}

div.mfp_err {
    clear: both;
    display: none;
    text-align: left;
    margin: 5px 0px 0px 0px;
    padding: 3px 0px 5px 17px;
    color: #F00;
    font-size: 12px;
    line-height: normal;
    background-image: url("_images/mfp_error.gif");
    background-repeat: no-repeat;
    background-position: 0px 0.4em;
}

.mfp_parent_error {
    border: solid 2px #F00;
}

.problem {
    background-color: #FCC !important;
}

div#mfp_error {
    background-color: #FEE;
    border: solid 1px #F00;
    padding: 10px;
    display: none;
}

div#mfp_error p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
}

div#mfp_error p strong {
    font-size: 18px;
    color: #F00;
}

div#mfp_warning {
    background-color: #FEE;
    border: solid 1px #F00;
    padding: 10px;
    display: none;
}

div#mfp_warning p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
}

div#mfp_warning p strong {
    font-size: 18px;
    color: #F00;
}

div#mfp_price {
    color: #C00;
    font-size: 36px;
    padding: 10px;
    font-weight: bolder;
}

div#mfp_price span {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}

button.mfp_next,button.mfp_prev {
    font-size: 18px;
    margin: 10px;
    padding: 5px 10px;
}

button.mfp_next {
    float: right;
}

button.mfp_prev {
    float: left;
}

ul#mfp_phase_stat {
    padding: 10px;
}

ul#mfp_phase_stat li {
    float: left;
    padding: 8px 15px;
    border-radius: 3px;
    margin: 5px;
    list-style: none;
    font-size: 14px;
}

ul#mfp_phase_stat li.mfp_phase_arrow {
    box-shadow: none;
    padding: 8px 5px;
}

ul#mfp_phase_stat li.mfp_active_phase {
    background-color: #E8EEF9;
    box-shadow: 0px 0px 5px #000;
}

ul#mfp_phase_stat li.mfp_inactive_phase {
    background-color: #CCC;
    color: #666;
    box-shadow: 0px 0px 5px #CCC;
}

div#mfp_shopping_cart {
    margin-bottom: 30px;
    padding: 0px;
}

div#mfp_shopping_cart .notfound {
    text-align: center;
    margin-bottom: 50px;
}

div.mfp_buttons {
    clear: both;
    text-align: center;
    margin: 30px 0 0 0;
}

div.mfp_buttons button {
    margin-right: 30px;
}

div.mfp_buttons button:last-child {
    margin-right: 0;
}

div.mfp_buttons button#mfp_button_cancel {
    background: #f1f1f1;
    color: #888;
}

.imagebutton {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    background: none;
}

.mfp_element_all {
    max-width: 90%;
}

.mfp_element_text, .mfp_element_number, .mfp_element_select-one, .mfp_element_email, .mfp_element_tel, .mfp_element_textarea, .mfp_element_date {
  border: solid 1px #DDD;
  padding: 0 0.5em;
  margin: 2px;
  vertical-align: middle;
}

input:disabled {
    background-color: #DDD;
}

.mfp_element_checkbox, .mfp_element_radio {
    vertical-align: middle;
    margin: 0px 2px;
}

.mfp_element_submit,.mfp_element_reset,.mfp_element_button {
    /* border-radius: 5px; */
    width: 200px;
    padding: 10px 1em 12px;
    /* border: solid 1px #CCC; */
    background: gradient(linear, center top, center bottom, from(#FFF), to(#EEE));
    /* background: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#EEE)); */
    background: -moz-linear-gradient(top, #FFF, #f1f0f0);
    background: -ms-linear-gradient(top, #FFF 0%, #f1f0f0 100%);
    /* text-shadow: 0px 2px 0px #FFF; */
    font-size: 16px;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.1em;
}

.mfp_element_submit:hover,.mfp_element_reset:hover,.mfp_element_button:hover {
    opacity: 0.8;
}

input#mfp_reserve_item,input#mfp_reserve_date {
    display: none;
}

div#mfp_reserve_wrapper {
    position: relative;
    overflow: hidden;
    border: solid 1px #CCC;
}

div#mfp_reserve_inner {
    position: relative;
    padding: 0px 0px 0px 100px;
    overflow: auto;
}

div#mfp_reserve_wrapper table {
    border-spacing: 0px;
    border-collapse: collapse;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_label {
    position: absolute;

    top: 0px;
    left: 0px;
    width: 100px;
    background-color: #FEE;
    z-index: 100;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value {
    padding: 0px 0px 0px 0px;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active, div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning {
    cursor: pointer;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active:hover, div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning:hover {
    background-color: #E8EEF9;
}

div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_current {
    background-color: #0068B7;
    color: #FFF;
}

td.mfp_reserve_disabled {
    background-color: #CCC;
}

td.mfp_reserve_warning {
    background-color: #FFC;
}

div#mfp_reserve_wrapper table tr td,div#mfp_reserve_wrapper table tr th {
    border: solid 1px #CCC;
    padding: 0px 5px;
    font-size: 12px;
    text-align: center;
    font-family: Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    font-weight: normal;
    height: 20px;
    text-align: left;
}

td.mfp_reserve_week_0 {
    color: #F00;
    background-color: #FEE;
}

td.mfp_reserve_week_6 {
    color: #00F;
    background-color: #EEF;
}

div.mfp_ok {
    border-radius: 5px;
    background-color: #090;
    border: solid 1px #090;
    display: inline-block;
    line-height: 1.5em;
    padding: 0px 5px;
    margin: 0px 2px;
    color: #FFF;
    font-size: 10px;
    background-image: url(images/header.png);
    background-size: 100% 100%;
    display: none !important;
}

div.prefcodeWrapper {
    position: relative;
}

div.prefcodeResult {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    border: solid 1px #CCC;
    background-color: #FFF;
    box-shadow: 0px 0px 5px #CCC;
    display: none;
}

div.prefcodeResult div {
    cursor: pointer;
}

div.prefcodeResult div:hover {
    background-color: #C9EBFB;
}

div.prefcodeResult div.prefcodeNext {
    background-color: #EEE;
    text-align: center;
}

div.prefLoading {
    padding: 60px 100px;
    background: url(_images/mfp_zip_loading.gif) no-repeat center center;
}

.hidefield {
    height: 0px;
    overflow: hidden;
}

.showfield {
    height: auto;
    overflow: visible;
}

/*----------------------------------------
  変更
----------------------------------------*/
form#mailformpro dl {
    display: table;
    width: 100%;
    /*! border: 1px solid #DDD; */
    border-bottom: none;
    padding: 0 0;
}

form#mailformpro dl:last-of-type {
    border-bottom: 1px solid #DDD;
}

form#mailformpro dl dt, form#mailformpro dl dd {
    display: table-cell;
    padding: 20px 20px;
    vertical-align: middle;
}

form#mailformpro dl dt {
    width: 30%;
    /*! background: #f1f1f1; */
}

form#mailformpro dl dd {
    width: 70%;
}

form#mailformpro dl dd .exam {
    color: #999;
    font-size: 0.9em;
}

#mfp_overlay_inner h4 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

#mailformpro #kojinsyosai {
    padding-right: 15px;
}
#mailformpro button.btn-reset {
  border-color: #777;
  border-radius: 3px;
  width: auto;
  font-size: 0.9em;
  background: #efefef;
  text-shadow: none;
  padding: 2px 0.5em;
  letter-spacing: 0;
}
#mailformpro button.btn-reset:hover {
  opacity: 1;
  background-color: #e5e5e5;
}

@media screen and (max-width: 800px) {
    form#mailformpro dl dt {
        float: none;
        width: auto;
        padding: 10px 15px 0;
        text-align: left;
        font-weight: bold;
    }

    form#mailformpro dl dd {
        clear: both;
        border-top: none;
        padding: 15px 15px;
        font-size: 13px;
    }

    div.mfp_buttons button {
        font-size: 14px;
    }

    div#mfp_phase_confirm h4 {
        font-size: 18px;
    }

    ul#mfp_phase_stat {
        padding: 0px;
    }

    ul#mfp_phase_stat li {
        float: left;
        text-align: center;
        padding: 5px 0px;
        border-radius: 3px;
        margin: 5px;
        list-style: none;
        font-size: 14px;
        width: 28%;
    }

    ul#mfp_phase_stat li.mfp_phase_arrow {
        bos-shadow: none;
        display: none;
    }

    ul#mfp_phase_stat li.mfp_active_phase {
        background-color: #E8EEF9;
        box-shadow: 0px 0px 5px #000;
    }

    ul#mfp_phase_stat li.mfp_inactive_phase {
        background-color: #CCC;
        color: #666;
        box-shadow: 0px 0px 5px #CCC;
    }

    div#mfp_thanks {
        text-align: center;
        font-size: 18px;
        padding: 20px 0px;
    }

    div#mfp_thanks strong {
        color: #C00;
        font-size: 24px;
        display: block;
    }

    /* 追加 */
    form#mailformpro dl .must, form#mailformpro dl .optionally {
        font-size: 12px;
    }

    form#mailformpro dl dd textarea {
        width: 100%;
    }

    .mfp_element_all {
        max-width: 100% !important;
    }

    form#mailformpro dl dd input.w50 {
        width: 48%;
    }

    form#mailformpro dl, form#mailformpro dl dt, form#mailformpro dl dd {
        display: block;
        width: 100%;
    }

    form#mailformpro dl dt .must, form#mailformpro dl dt .optionally {
        display: inline-block;
        margin: 0 0 0 0;
        float: none;
        margin: 0 10px 0 0;
        padding: 2px 8px;
    }

    form#mailformpro dl dt {
        border: none;
        background: none;
    }

    form#mailformpro label {
        border-radius: 3px;
        margin-bottom: 10px;
    }

    div.mfp_buttons button {
        font-size: 14px;
        width: 47%;
        margin: 0 2% 0 0;
    }

    div.mfp_buttons button:nth-child(2n) {
        margin-right: 0;
    }

    #mfp_overlay_inner h4 {
        font-size: 15px;
    }

    #mfp_confirm_table tr th {
        /* white-space: nowrap; */
        padding: 0;
    }

    #mfp_confirm_table tr th, #mfp_confirm_table tr td {
        font-size: 12px;
        padding: 10px 10px !important;
    }
}