div#mfp_numticket_wrapper,
div#mfp_numticket_wrapper * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
div#mfp_numticket_wrapper {
	clear: both;
	padding: 15px;
}
div#mfp_numticket_wrapper section#numticket_message_wrapper {
	border: solid 3px #F00;
	border-radius: 5px;
	background: #FEE;
	padding: 15px;
	font-size: 16px;
	line-height: 1.7em;
	margin: 5px auto;
}
div#mfp_numticket_wrapper section#numticket_waitTime {
	border: solid 3px #CCC;
	border-radius: 5px;
	background: #FFF;
	padding: 15px;
	font-size: 16px;
	margin: 10px auto;
}
div#mfp_numticket_wrapper section#numticket_waitTime strong {
	font-size: 32px;
	display: block;
	text-align: center;
}
div#mfp_numticket_wrapper section#numticket_waitTime p.numticket_center {
	text-align: center;
}
div.mfp_traffic_status {
	max-width: 460px;
	margin: 10px auto;
	border: solid 1px #CCC;
	border-radius: 3px;
	padding: 15px;
}
div.mfp_traffic_status h3 {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	color: #999;
}
div.mfp_traffic_status table {
	text-align: center;
	width: 100%;
}
div#wrapper div.mfp_traffic_status table tr th,
div#wrapper div.mfp_traffic_status table tr td,
div.mfp_traffic_status table td,
div.mfp_traffic_status table th {
	border: none;
	padding: 0;
}
div#wrapper div.mfp_traffic_status table tr td,
div.mfp_traffic_status table td {
	padding: 0 2px;
}
div#wrapper div.mfp_traffic_status table tr th,
div.mfp_traffic_status table th {
	border-top: solid 1px #CCC;
	font-size: 10px;
	font-weight: normal;
	padding-top: 5px;
	color: #999;
}
div.mfp_traffic_status table td {
	height: 100px;
}
div.mfp_traffic_status table td span {
	display: block;
	background: #7BAAF7;
	border-radius: 3px 3px 0 0;
	border-top: solid 1px #66A1F7;
	border-right: solid 1px #66A1F7;
	border-left: solid 1px #66A1F7;
	min-width: 10px;
	max-width: 30px;
	margin: 0 auto;
	padding-bottom: 10px;
}
div.mfp_traffic_status table td span.mfp_traffic_status_current {
	background: #5D7AF2;
	border-top: solid 1px #546CD1;
	border-right: solid 1px #546CD1;
	border-left: solid 1px #546CD1;
}