// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------

.u-pc {
  @include sp {
      display: none !important;
  }
  @include pc {
      display: block !important;
  }
}

.u-sp {
  @include pc {
      display: none !important;
  }
  @include sp {
      display: block !important;
  }
}

/*テキスト系*/


.u-textRight {
  text-align: right !important;
  &--pc {
      @include pc {
          text-align: right !important;
      }
  }
  &--sp {
      @include sp {
          text-align: right !important;
      }
  }
}

.u-textLeft {
  text-align: left !important;
  &--pc {
      @include pc {
          text-align: left !important;
      }
  }
  &--sp {
      @include sp {
          text-align: left !important;
      }
  }
}

.u-textCenter {
  text-align: center !important;
  &--pc {
      @include pc {
          text-align: center !important;
      }
  }
  &--sp {
      @include sp {
          text-align: center !important;
      }
  }
}

.u-textSmall {
    font-size: 0.9em !important;
  }

.u-textMid {
    font-size: 1.2em !important;
  }

.u-textLarge {
  font-size: 1.4em !important;
}

.u-textBold {
  font-weight: bold !important;
}

.u-textBlack {
  color: $color-black !important;
}

.u-textRed {
  color: $subColor !important;
}

.u-textLink {
  color: $mainColor !important;
  text-decoration: underline !important;
}


/*position*/

.u-relative {
  position: relative !important;
}

.u-absolute {
  position: absolute !important;

  &__br {
      bottom: 0 !important;
      right: 0 !important;
  }
}

/*装飾*/

.u-bgBox {
  &--gray {
      padding: 60px !important;
      background-color: #f8f8f8 !important;

      @include sp {
          padding: 8% !important;
      }
  }
}

.u-borderTop {
  border-top: 1px solid #ccc !important;
}

/*flex*/


.u-align {
  &--center {
      align-items: center !important;
  }

  &--end {
      align-items: flex-end !important;
  }
}

.u-justify {
  &--center {
      justify-content: center !important;
  }
  &--end {
      justify-content: flex-end !important;
  }
}

/*レイアウト*/

.u-width100 {
  width: 100%;
}

/*余白*/

.u-mt0 {
  margin-top: 0 !important;
  &--pc {
      @include pc {
          margin-top: 0 !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 0 !important;
      }
  }
}

.u-mt10 {
  margin-top: 10px !important;
  &--pc {
      @include pc {
          margin-top: 10px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 10px !important;
      }
  }
}

.u-mt20 {
  margin-top: 20px !important;
  &--pc {
      @include pc {
          margin-top: 20px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 20px !important;
      }
  }
}

.u-mt30 {
  margin-top: 30px !important;
  &--pc {
      @include pc {
          margin-top: 30px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 30px !important;
      }
  }
}

.u-mt40 {
  margin-top: 40px !important;
  &--pc {
      @include pc {
          margin-top: 40px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 40px !important;
      }
  }
}

.u-mt50 {
  margin-top: 50px !important;
  &--pc {
      @include pc {
          margin-top: 50px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 50px !important;
      }
  }
}

.u-mt60 {
  margin-top: 60px !important;
  &--pc {
      @include pc {
          margin-top: 60px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 60px !important;
      }
  }
}

.u-mt70 {
  margin-top: 70px !important;
  &--pc {
      @include pc {
          margin-top: 70px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 70px !important;
      }
  }
}

.u-mt80 {
  margin-top: 80px !important;
  &--pc {
      @include pc {
          margin-top: 80px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 80px !important;
      }
  }
}

.u-mt90 {
  margin-top: 90px !important;
  &--pc {
      @include pc {
          margin-top: 90px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 90px !important;
      }
  }
}

.u-mt100 {
  margin-top: 100px !important;
  &--pc {
      @include pc {
          margin-top: 100px !important;
      }
  }
  &--sp {
      @include sp {
          margin-top: 100px !important;
      }
  }
}

.u-mb0 {
  margin-bottom: 0 !important;
  &--pc {
      @include pc {
          margin-bottom: 0 !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 0 !important;
      }
  }
}

.u-mb10 {
  margin-bottom: 10px !important;
  &--pc {
      @include pc {
          margin-bottom: 10px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 10px !important;
      }
  }
}

.u-mb20 {
  margin-bottom: 20px !important;
  &--pc {
      @include pc {
          margin-bottom: 20px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 20px !important;
      }
  }
}

.u-mb30 {
  margin-bottom: 30px !important;
  &--pc {
      @include pc {
          margin-bottom: 30px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 30px !important;
      }
  }
}

.u-mb40 {
  margin-bottom: 40px !important;
  &--pc {
      @include pc {
          margin-bottom: 40px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 40px !important;
      }
  }
}

.u-mb50 {
  margin-bottom: 50px !important;
  &--pc {
      @include pc {
          margin-bottom: 50px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 50px !important;
      }
  }
}

.u-mb60 {
  margin-bottom: 60px !important;
  &--pc {
      @include pc {
          margin-bottom: 60px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 60px !important;
      }
  }
}

.u-mb70 {
  margin-bottom: 70px !important;
  &--pc {
      @include pc {
          margin-bottom: 70px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 70px !important;
      }
  }
}

.u-mb80 {
  margin-bottom: 80px !important;
  &--pc {
      @include pc {
          margin-bottom: 80px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 80px !important;
      }
  }
}

.u-mb90 {
  margin-bottom: 90px !important;
  &--pc {
      @include pc {
          margin-bottom: 90px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 90px !important;
      }
  }
}

.u-mb100 {
  margin-bottom: 100px !important;
  &--pc {
      @include pc {
          margin-bottom: 100px !important;
      }
  }
  &--sp {
      @include sp {
          margin-bottom: 100px !important;
      }
  }
}

.u-ml0 {
  margin-left: 0 !important;
  &--pc {
      @include pc {
          margin-left: 0 !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 0 !important;
      }
  }
}

.u-ml10 {
  margin-left: 10px !important;
  &--pc {
      @include pc {
          margin-left: 10px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 10px !important;
      }
  }
}

.u-ml20 {
  margin-left: 20px !important;
  &--pc {
      @include pc {
          margin-left: 20px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 20px !important;
      }
  }
}

.u-ml30 {
  margin-left: 30px !important;
  &--pc {
      @include pc {
          margin-left: 30px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 30px !important;
      }
  }
}

.u-ml40 {
  margin-left: 40px !important;
  &--pc {
      @include pc {
          margin-left: 40px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 40px !important;
      }
  }
}

.u-ml50 {
  margin-left: 50px !important;
  &--pc {
      @include pc {
          margin-left: 50px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 50px !important;
      }
  }
}

.u-ml60 {
  margin-left: 60px !important;
  &--pc {
      @include pc {
          margin-left: 60px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 60px !important;
      }
  }
}

.u-ml70 {
  margin-left: 70px !important;
  &--pc {
      @include pc {
          margin-left: 70px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 70px !important;
      }
  }
}

.u-ml80 {
  margin-left: 80px !important;
  &--pc {
      @include pc {
          margin-left: 80px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 80px !important;
      }
  }
}

.u-ml90 {
  margin-left: 90px !important;
  &--pc {
      @include pc {
          margin-left: 90px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 90px !important;
      }
  }
}

.u-ml100 {
  margin-left: 100px !important;
  &--pc {
      @include pc {
          margin-left: 100px !important;
      }
  }
  &--sp {
      @include sp {
          margin-left: 100px !important;
      }
  }
}

.u-mr0 {
  margin-right: 0 !important;
  &--pc {
      @include pc {
          margin-right: 0 !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 0 !important;
      }
  }
}


.u-mr10 {
  margin-right: 10px !important;
  &--pc {
      @include pc {
          margin-right: 10px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 10px !important;
      }
  }
}

.u-mr20 {
  margin-right: 20px !important;
  &--pc {
      @include pc {
          margin-right: 20px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 20px !important;
      }
  }
}

.u-mr30 {
  margin-right: 30px !important;
  &--pc {
      @include pc {
          margin-right: 30px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 30px !important;
      }
  }
}

.u-mr40 {
  margin-right: 40px !important;
  &--pc {
      @include pc {
          margin-right: 40px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 40px !important;
      }
  }
}

.u-mr50 {
  margin-right: 50px !important;
  &--pc {
      @include pc {
          margin-right: 50px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 50px !important;
      }
  }
}

.u-mr60 {
  margin-right: 60px !important;
  &--pc {
      @include pc {
          margin-right: 60px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 60px !important;
      }
  }
}

.u-mr70 {
  margin-right: 70px !important;
  &--pc {
      @include pc {
          margin-right: 70px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 70px !important;
      }
  }
}

.u-mr80 {
  margin-right: 80px !important;
  &--pc {
      @include pc {
          margin-right: 80px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 80px !important;
      }
  }
}

.u-mr90 {
  margin-right: 90px !important;
  &--pc {
      @include pc {
          margin-right: 90px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 90px !important;
      }
  }
}

.u-mr100 {
  margin-right: 100px !important;
  &--pc {
      @include pc {
          margin-right: 100px !important;
      }
  }
  &--sp {
      @include sp {
          margin-right: 100px !important;
      }
  }
}






.u-pt10 {
  padding-top: 10px !important;
  &--pc {
      @include pc {
          padding-top: 10px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 10px !important;
      }
  }
}

.u-pt20 {
  padding-top: 20px !important;
  &--pc {
      @include pc {
          padding-top: 20px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 20px !important;
      }
  }
}

.u-pt30 {
  padding-top: 30px !important;
  &--pc {
      @include pc {
          padding-top: 30px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 30px !important;
      }
  }
}

.u-pt40 {
  padding-top: 40px !important;
  &--pc {
      @include pc {
          padding-top: 40px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 40px !important;
      }
  }
}

.u-pt50 {
  padding-top: 50px !important;
  &--pc {
      @include pc {
          padding-top: 50px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 50px !important;
      }
  }
}

.u-pt60 {
  padding-top: 60px !important;
  &--pc {
      @include pc {
          padding-top: 60px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 60px !important;
      }
  }
}

.u-pt70 {
  padding-top: 70px !important;
  &--pc {
      @include pc {
          padding-top: 70px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 70px !important;
      }
  }
}

.u-pt80 {
  padding-top: 80px !important;
  &--pc {
      @include pc {
          padding-top: 80px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 80px !important;
      }
  }
}

.u-pt90 {
  padding-top: 90px !important;
  &--pc {
      @include pc {
          padding-top: 90px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 90px !important;
      }
  }
}

.u-pt100 {
  padding-top: 100px !important;
  &--pc {
      @include pc {
          padding-top: 100px !important;
      }
  }
  &--sp {
      @include sp {
          padding-top: 100px !important;
      }
  }
}

.u-pb10 {
  padding-bottom: 10px !important;
  &--pc {
      @include pc {
          padding-bottom: 10px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 10px !important;
      }
  }
}

.u-pb20 {
  padding-bottom: 20px !important;
  &--pc {
      @include pc {
          padding-bottom: 20px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 20px !important;
      }
  }
}

.u-pb30 {
  padding-bottom: 30px !important;
  &--pc {
      @include pc {
          padding-bottom: 30px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 30px !important;
      }
  }
}

.u-pb40 {
  padding-bottom: 40px !important;
  &--pc {
      @include pc {
          padding-bottom: 40px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 40px !important;
      }
  }
}

.u-pb50 {
  padding-bottom: 50px !important;
  &--pc {
      @include pc {
          padding-bottom: 50px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 50px !important;
      }
  }
}

.u-pb60 {
  padding-bottom: 60px !important;
  &--pc {
      @include pc {
          padding-bottom: 60px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 60px !important;
      }
  }
}

.u-pb70 {
  padding-bottom: 70px !important;
  &--pc {
      @include pc {
          padding-bottom: 70px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 70px !important;
      }
  }
}

.u-pb80 {
  padding-bottom: 80px !important;
  &--pc {
      @include pc {
          padding-bottom: 80px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 80px !important;
      }
  }
}

.u-pb90 {
  padding-bottom: 90px !important;
  &--pc {
      @include pc {
          padding-bottom: 90px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 90px !important;
      }
  }
}

.u-pb100 {
  padding-bottom: 100px !important;
  &--pc {
      @include pc {
          padding-bottom: 100px !important;
      }
  }
  &--sp {
      @include sp {
          padding-bottom: 100px !important;
      }
  }
}

.u-pl10 {
  padding-left: 10px !important;
  &--pc {
      @include pc {
          padding-left: 10px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 10px !important;
      }
  }
}

.u-pl20 {
  padding-left: 20px !important;
  &--pc {
      @include pc {
          padding-left: 20px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 20px !important;
      }
  }
}

.u-pl30 {
  padding-left: 30px !important;
  &--pc {
      @include pc {
          padding-left: 30px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 30px !important;
      }
  }
}

.u-pl40 {
  padding-left: 40px !important;
  &--pc {
      @include pc {
          padding-left: 40px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 40px !important;
      }
  }
}

.u-pl50 {
  padding-left: 50px !important;
  &--pc {
      @include pc {
          padding-left: 50px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 50px !important;
      }
  }
}

.u-pl60 {
  padding-left: 60px !important;
  &--pc {
      @include pc {
          padding-left: 60px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 60px !important;
      }
  }
}

.u-pl70 {
  padding-left: 70px !important;
  &--pc {
      @include pc {
          padding-left: 70px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 70px !important;
      }
  }
}

.u-pl80 {
  padding-left: 80px !important;
  &--pc {
      @include pc {
          padding-left: 80px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 80px !important;
      }
  }
}

.u-pl90 {
  padding-left: 90px !important;
  &--pc {
      @include pc {
          padding-left: 90px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 90px !important;
      }
  }
}

.u-pl100 {
  padding-left: 100px !important;
  &--pc {
      @include pc {
          padding-left: 100px !important;
      }
  }
  &--sp {
      @include sp {
          padding-left: 100px !important;
      }
  }
}


.u-pr10 {
  padding-right: 10px !important;
  &--pc {
      @include pc {
          padding-right: 10px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 10px !important;
      }
  }
}

.u-pr20 {
  padding-right: 20px !important;
  &--pc {
      @include pc {
          padding-right: 20px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 20px !important;
      }
  }
}

.u-pr30 {
  padding-right: 30px !important;
  &--pc {
      @include pc {
          padding-right: 30px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 30px !important;
      }
  }
}

.u-pr40 {
  padding-right: 40px !important;
  &--pc {
      @include pc {
          padding-right: 40px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 40px !important;
      }
  }
}

.u-pr50 {
  padding-right: 50px !important;
  &--pc {
      @include pc {
          padding-right: 50px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 50px !important;
      }
  }
}

.u-pr60 {
  padding-right: 60px !important;
  &--pc {
      @include pc {
          padding-right: 60px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 60px !important;
      }
  }
}

.u-pr70 {
  padding-right: 70px !important;
  &--pc {
      @include pc {
          padding-right: 70px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 70px !important;
      }
  }
}

.u-pr80 {
  padding-right: 80px !important;
  &--pc {
      @include pc {
          padding-right: 80px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 80px !important;
      }
  }
}

.u-pr90 {
  padding-right: 90px !important;
  &--pc {
      @include pc {
          padding-right: 90px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 90px !important;
      }
  }
}

.u-pr100 {
  padding-right: 100px !important;
  &--pc {
      @include pc {
          padding-right: 100px !important;
      }
  }
  &--sp {
      @include sp {
          padding-right: 100px !important;
      }
  }
}

/*背景*/

.u-bgYellow {
    background-color: $color-yellow !important;
}

.u-bgGreen {
    background-color: $color-palegreen !important;
}

.u-bgHougan {
    background-image: url(../images/bg-hougan.png);
}